#calendar {
  padding:0px 0px 0px 5px;
  width:400px;
}
#calendar .calendar-month { width:100%; }
#calendar .calendar-month .title-small { padding-right:15px; }
#calendar .calendar-month .title-small:first-letter { text-transform:uppercase; }
#calendar ul li div {
  display:table-cell;
  vertical-align:middle;
}
#calendar ul li .calendar-day {
  width:30px;
  vertical-align:top;
}
#calendar ul li .calendar-day .icon-day {
  height:30px;
  width:30px;
  display:inline-block;
  background-image:url('bt_dore_carre.png');
  background-position:center;
  background-repeat:no-repeat;
  text-align:center;
  color:;
  font-weight:bold;
  line-height:30px;
  box-shadow:0px 0px 4px gray;
}
#calendar ul li .calendar-info { padding-left:20px; }
#calendar ul li .calendar-info span { display:block; }
#calendar .calendar-bt {
  margin-top:10px;
  width:100%;
}
#calendar .calendar-bt .bt-arrow-up {
  width:54px;
  height:30px;
  background-image:url('bt_triangle.png');
  background-position:center;
  background-repeat:no-repeat;
  text-align:center;
}
#calendar .calendar-bt .bt-arrow-down {
  width:54px;
  height:30px;
  background-image:url('bt_triangle.png');
  background-position:center;
  background-repeat:no-repeat;
  text-align:center;
}
