{% extends "WmsIntroductionBundle::layout.html.twig" %}

{% set path_public = asset('bundles/wmsintroduction/') %}

{% block content %}
	
<div class="textcontent">
		
	<h2>FORMATION</h2>
	
	<table>
		<tbody>
			
			<tr>
				<td class="leftcell">2011-2012</td>
				<td>
					<p>Formation en alternance Développement Web - PHP/SQL</p>
					<p class="description">Institut des Technologies du Système d'Information</p>
				</td>
			</tr>
			
			<tr>
				<td class="leftcell">2008-2010</td>
				<td>
					<p>M1 et M2 Génie civil et Infrastructures</p>
					<p class="description">Université de Cergy Pontoise</p>
				</td>
			</tr>
			
			<tr>
				<td class="leftcell">2004-2008</td>
				<td>
					<p>Licence de Physique</p>
					<p class="description">Université Paris 7 Denis Diderot</p>
				</td>
			</tr>		
							
		</tbody>
	</table>
	
	<h2>EXPERIENCES</h2>
	
	<table>
		<tbody>
			
			<tr>
				<td class="leftcell">2010</td>
				<td>
					<p>Stage conducteur de travaux</p>
					<p class="description">5 mois chez Levaux - Logements étudiants à Bobigny(93)</p>
				</td>
			</tr>
			
			<tr>
				<td class="leftcell">2009</td>
				<td>
					<p>Stage conducteur de travaux</p>
					<p class="description">3 mois chez Fayolles et Fils - Secteur voirie à Paris 12ème</p>
				</td>
			</tr>
			
			<tr>
				<td class="leftcell">2008</td>
				<td>
					<p>Equipier polyvalent à Macdonald's</p>
				</td>
			</tr>	
			
			<tr>
				<td class="leftcell">2007-2010</td>
				<td>
					<p>Professeur particulier de Maths, Physique-Chimie</p>
				</td>
			</tr>
			
			<tr>
				<td class="leftcell">2005-2007</td>
				<td>
					<p>Garde d'enfants</p>
				</td>
			</tr>		
				
		</tbody>
	</table>
	
	<h2>COMPETENCES</h2>
	
	<table>
		<tbody>
			
			<tr>
				<td class="leftcell">Langages:</td>
				<td>
					<p><span class="description">-Notions:  </span> PHP, MySQL, PHP Objet, Java <br/>
						 <span class="description">-Familier: </span> HTML 5, CSS 3
					</p>
					<p class="description"></p>
				</td>
			</tr>
			
			<tr>
				<td class="leftcell">Logiciels:</td>
				<td>
					<p><span class="description">-Notions:  </span>Photoshop CS5 <br/>
						 <span class="description">-Moyen: </span> Illustrator CS5 <br/>
						 <span class="description">-Opérationnel: </span> Autocad(2D), Excel
					</p>
				</td>
			</tr>
			
		</tbody>
	</table>		
</div> <!-- fin de textcontent-->
    	
<div class="asidepicture">
    <img src="{{path_public}}images/asidepicture2.png" alt="CURICULUM VITAE">
</div>

{% endblock %}

				