{% extends "LdcWebsiteBundle::layout_admin.html.twig" %}

{% block stylesheets %}
	{{ parent()}}
	<link rel="stylesheet" href="{{ asset('bundles/ldcwebsite/css/formulaire.css') }}" type="text/css" />
{% endblock %}


{% block body %}
	<section id="survey">
		{% block event %}
		{% endblock %}
	</section>
{% endblock %}
