{% extends "LdcWebsiteBundle::layout_admin.html.twig" %}

{% block stylesheets %}
	{{ parent()}}
	<link rel="stylesheet" href="{{ asset('bundles/ldcwebsite/css/formulaire.css') }}" type="text/css" />
{% endblock %}

{% block script %}
	<script type="text/javascript" src="{{path_public}}js/jquery.js"></script>
	<script type="text/javascript" src="{{path_public}}js/survey.js"></script>
{% endblock %}


{% block body %}
	<section id="survey">
		{% block event %}
		{% endblock %}
	</section>
{% endblock %}
